# Installed Packages
/elpa
/quelpa

# Emacs cache
.cache/

# Customization
/custom.el

# Compiled files
*.elc

*~
\#*

.emacs.desktop
.emacs.desktop.lock
package-quickstart.el

.last-package-update-day
history
places
projectile-bookmarks.eld
recentf
smex-items
transient/

/.mc-lists.el
/tramp
